html{
    background-color:rgb(243, 213, 192);
}
body{
    margin: 0;
}

#header1{
    background-color: rgb(80, 109, 132);
    padding: 0;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    margin-top: 0px;
    margin-bottom: 200px;
    text-align: center;

}
.conteiner{
    background-color: rgb(212, 180, 153);
    border-radius: 20px;
    width: 80% ;
    height: 300px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto ; /* vertical/horizontal*/

}
.boxTable{

}